{% extends 'template_main.html' %}

{% load static %}

{% load widget_tweaks %}

{% block menus %}
<section class="login">
    <form class="card-cadastro" method="post">
        <div class="card-header">

            {% csrf_token %}

            <div class="card-content-cadastro">
                <div class="card-cadastro-input row g-3">
                    <div class="col-md-6">
                        <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}:</label>
                        {% render_field form.nome class='form-control' %}
                    </div>

                    <div class="col-md-6">
                        <label for="{{ form.estoque.id_for_label }}">{{ form.estoque.label }}:</label>
                        {% render_field form.estoque class='form-control' %}
                    </div>
                    
                    <div class="col-md-12">
                        <label for="{{ form.descricao.id_for_label }}">{{ form.descricao.label }}:</label>
                        {% render_field form.descricao class='form-control' %}
                    </div>

                    <div class="col-md-6">
                        <label for="{{ form.categoria.id_for_label }}">Categoria:</label>
                        {% render_field form.categoria class='form-select' %}
                    </div>
                    
                    <div class="col-md-6">
                        <br>
                        <a class="btn btn-success btn-md" href="{% url 'produtos-categoria-cadastrar' %}">Novo</a>
                        <a class="btn btn-warning btn-md" href="">Editar</a>
                    </div>
                    
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-primary">Salvar</button>
                      <a type="submit" class="btn btn-danger" href="{% url 'produtos-produto-listar' %}">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}