{% extends 'template_main.html' %}

{% load static %}

{% block nome_pagina %}
<title>{{ titulo_pagina }}</title>
{% endblock %}

{% block nome_menu %}
<h1 class="h2">Categoria</h1>
{% endblock %}

{% block menus %}
<a href="{% url 'produtos-categoria-cadastrar' %}" class="btn btn-primary">Novo</a>

<section class="login">
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome:</th>
                <th>Descrição:</th>
                <th>Opçoes:</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            {% for categoria in object_list %}
            <tr>
                <td scope="row">{{ categoria.pk }}</td>
                <td>{{ categoria.nome }}</td>
                <td>{{ categoria.descricao }}</td>
                <td>
                    <a href="{% url 'produtos-categoria-alterar' categoria.pk %}">Alterar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>Nenhum dado para mostrar</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}