{% extends 'template_main.html' %}

{% load static %}
{% load widget_tweaks %}

{% block nome_pagina %}
<title>Cadastrar Usuário</title>
{% endblock %}

{% block nome_menu %}
<h1 class="h2">{{ titulo_pagina }}</h1>
{% endblock %}

{% block menus %}
<section class="login">
    <form class="card-cadastro" method="post">
        <div class="card-header">

            {% csrf_token %}

            <div class="card-content-cadastro">
                <div class="card-cadastro-input row g-3">

                    <div class="col-md-6">
                        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}:</label>
                        {% render_field form.first_name class='form-control' %}
                    </div>
                    
                    <div class="col-md-6">
                        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}:</label>
                        {% render_field form.last_name class='form-control' %}
                    </div>

                    <div class="col-md-4">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
                        {% render_field form.email class='form-control' %}
                    </div>
                    
                    <div class="col-md-4">
                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                        {% render_field form.username class='form-control' %}
                    </div>

                    <div class="col-md-4">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
                        {% render_field form.password class='form-control' %}
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}