{% load static %}

{% comment r %}
<!-- <!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block tag_link_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    {% endblock %}
    <meta charset="UTF-8">
    {% block nome_pagina %}
    <title>Genos PDV</title>
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar bg-light sticky-top flex-md-nowrap p-0 shadow">
            <div class="container-fluid">
                {% block btn_index %}
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/box.png' %}" alt="" width="30" height="30">
                    Genos PDV
                </a>
                {% endblock %}

                {% block btn_sair %}
                <a href="{% url 'logout' %}" class="">Logout</a>
                {% endblock %}
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home align-text-bottom" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                Painel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
                                PDV
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                Vendas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'fornecedores-listar' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 17l5-5-5-5M19.8 12H9M10 3H4v18h6"/></svg>
                                Fornecedores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'produtos-produto-listar' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-text-bottom" aria-hidden="true"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                Produtos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clientes-listar' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-text-bottom" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                Clientes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users-listar' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                Usuário
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                {% block nome_menu %}
                           
                {% endblock %}
                </div>

                {% block menus %}

                {% endblock %}
                
            </main>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
    {% block scripts %}

    {% endblock %}
</body> -->
{% endcomment %}

</html>

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GenosPDV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <style>
    .navbar-lateral{
      position: fixed;
      height: 100%;
      width: 200px;
    }
    .navbar-lateral li{
      list-style-type: none;
      padding: 10px 15px;
    }
    .navbar-lateral li a{
      display: block;
      font-weight: bold;
    }
    .navbar-lateral li:hover{
      background-color: aqua;
      transition: 0.5s;
    }

    .btn-hover:hover{
      background-color: aqua;
      transition: 0.5s;
    }

    main{
      margin-left: 200px;
      padding: 10px;
    }
    .tabs{
      padding: 10px;
      width: 100%;
    }
  </style>

  <body>
    
    <header>
      <nav class="navbar bg-light sticky-top flex-md-nowrap p-0 shadow container-fluid">
        <a href="#" class="navbar-brand">LOGO</a>
        <div class="btn-group d-grid gap-2  justify-content-md-end">
          <button class="btn dropdown-toggle me-md-2" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="{% url 'users-listar' %}">
                <i class="bi bi-people-fill"></i>
                Usuários
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="bi bi-power"></i>
                Sair
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <nav class="navbar-lateral bg-light border-end">
      <li>
        <a href="" class="nav-link">
          <i class="bi bi-house-fill"></i>
          Painel
        </a>
      </li>
      <li>
        <a href="{% url 'pdv-cadastro' %}" class="nav-link">
          <i class="bi bi-display-fill"></i>
          PDV
        </a>
      </li>
      <li>
        <a href="{% url 'vendas-listar' %}" class="nav-link">
          <i class="bi bi-currency-dollar"></i>
          Vendas
        </a>
      </li>
      <li>
        <a href="{% url 'fornecedores-listar' %}" class="nav-link">
          <i class="bi bi-truck-front-fill"></i>
          Fornecedores
        </a>
      </li>
      <li>
        <a href="{% url 'produtos-produto-listar' %}" class="nav-link">
          <i class="bi bi-cart-fill"></i>
          Produtos
        </a>
      </li>
      <li>
        <a href="{% url 'clientes-listar' %}" class="nav-link">
          <i class="bi bi-people-fill"></i>
          Clientes
        </a>
      </li>
      <li>
        <a href="{% url 'users-listar' %}" class="nav-link">
          <i class="bi bi-person-fill"></i>
          Usuário
        </a>
      </li>
    </nav>
  
    <main class="">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2"></h2>
    
        <div class="col-lg-8 col-md-6 col-xs-7">
          <div class="btn-group d-grid gap-2  justify-content-md-end">
            <button class="btn dropdown-toggle me-md-2 btn-hover" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
              <i class="bi bi-plus-square-fill"></i>
              Novo
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="{% url 'vendas-cadastrar' %}">
                  <i class="bi bi-currency-dollar"></i>
                  Venda
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'produtos-produto-cadastrar' %}">
                  <i class="bi bi-cart-fill"></i>
                  Produto
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'fornecedores-cadastrar' %}">
                  <i class="bi bi-truck-front-fill"></i>
                  Fornecedor
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'clientes-cadastrar' %}">
                  <i class="bi bi-people-fill"></i>
                  Cliente
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'users-cadastrar' %}">
                  <i class="bi bi-person-fill"></i>
                  Usuário
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% block menus %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#produto-tab-pane" type="button" aria-selected="true">
            <i class="bi bi-cart-fill"></i>
            Produtos
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#categoria-tab-pane" type="button" aria-selected="false">
            Categorias
          </button>
        </li>
      </ul>

      <div class="tab-content tabs border-start border-end border-bottom">
        <div class="tab-pane fade show active container-fluid" id="produto-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <div class="d-flex">
            <button class="btn btn-primary btn-sm">
              <i class="bi bi-plus-square-fill"></i>
              Novo
            </button>

            <form action="post">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Produto">
                <div class="input-group-text">
                  <button class="btn btn-sm" type="button">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <table class="table table-striped table-hover table-sm table-responsive">
            <thead>
              <tr>
                <th>
                  Código
                </th>
                <th>
                  Produto
                </th>
                <th>
                  Categoria
                </th>
                <th>
                  Preço
                </th>
                <th>
                  Estoque
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  <p>Nenhum registro encontrado.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="categoria-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <button class="btn btn-primary">
            <i class="bi bi-plus-square-fill"></i>
            Novo
          </button>
          <table class="table table-striped table-hover table-sm table-responsive">
            <thead>
              <tr>
                <th>
                  Código
                </th>
                <th>
                  Categoria
                </th>
                <th>
                  Descrição
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3">
                  <span>Nenhum registro encontrado.</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endblock %}
      
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    {% block scripts %}

    {% endblock %}
  </body>
</html>